.container {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background: url('../../assets/imgs/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

.loginContainer {
    margin: auto;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    max-width: 500px;

    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.background {
    width: 100%;
    height: 100%;
    min-height: 100%;
    object-fit: cover;
}

.header {
    width: 100%;
    display: flex;
    align-items: space-between;
    flex-direction: column;
}

.moonImg {
    margin-left: auto;
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.logoContainer {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.logoImg {
    margin-top: 20px;
    width: 160px;
    max-width: 250px;
    height: 43.2px;
    max-height: 100px;
    object-fit: contain;
}

.logoText {
    margin-top: 3px;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 300;
}

.textInputContainer {
    margin-top: 10px;
    max-width: 500px;
    width: 100%;

    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.label {
    margin-bottom: 3px;
    width: 100%;

    text-align: left;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 300;
}

.input {
    padding: 12px 10px;

    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    border-color: #fff;
    background-color: #ffffff20;
    
    box-shadow: 0 4px 5px #00000010;
}

.button {
    margin-top: 10px;
    padding: 12px 10px;

    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    border-color: #fff;
    background-color: #ffffff20;
}

.buttonText {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 300;
    color: #fff;
}

.paragraph {
    margin-top: 20px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.paragraph_text {
    font-family: 'Poppins';
    font-weight: 300;
    color: #fff;
}

.underline {
    margin-left: 6px;

    text-decoration-line: underline;
    font-family: 'Poppins';
    font-weight: 300;
    color: #fff;

    font-size: 14px;
}

.orContainer {
    margin-top: 20px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.orBorder {
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.or {
    padding: 10px;
    font-family: 'Poppins';
    font-weight: 300;
    color: #fff;
}

.socialMediaContainer {
    margin-top: 30px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}

.socialMedia {
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.socialMediaImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.verify-your-email-h1 {
    margin: 20px 0;
    max-width: 400px;

    color: #fff;
    font-size: 17px;
    text-align: center;
}