.userlocation-wrapper {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background: url('../../assets/imgs/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

.userlocation-container {
    margin: auto;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    max-width: 500px;

    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.locationContainer {
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;

    background-color: #ffffff20;
    border-width: 1px solid #ffffff40;
    border-radius: 10px;
}

.locationImg {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.locationText {
    color: #fff;
    font-family: 'Poppins';
    font-weight: 300;
}
