.search-input-container {

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-radius: 8px;
}

.search-input-container .icon {
    margin-left: auto;
    padding: 8px 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    outline: none;
    border: none;
    cursor: pointer;
}

.search-input-container input {
    width: 100%;
    padding: 8px 10px;
    background-color: transparent;
}

.search-for-videos-assets {
    padding:  0 20px 20px;
    width: 100%;
    height: calc(100vh - 80px);

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    justify-content: flex-start;
    
    column-gap: 10px;
    row-gap: 18px;
    
    overflow-y: auto;
}

.search-for-videos-assets .search-item {
    width: 100%;
    aspect-ratio: 9/16;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4px;

    cursor: pointer;
}
.search-for-videos-assets .search-item .search-item-title {
    margin-top: 4px;
    font-weight: 600;
}

.search-for-videos-assets .search-item .search-item-asset {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.search-for-videos-assets .search-item .search-item-asset .search-asset-time {
    position: absolute;
    bottom: 10px;
    left: 10px;

    font-size: 13px;
    color: #fff;
    text-shadow: 0px 0px 4px #000000b0;
}

.search-for-videos-assets .search-item .search-item-asset video,
.search-for-videos-assets .search-item .search-item-asset img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.search-for-videos-assets .search-item .asset-owner-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-for-videos-assets .search-item .asset-owner-container .img-username {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.search-for-videos-assets .search-item .asset-owner-container .img-username img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.search-for-videos-assets .search-item .asset-owner-container .img-username img {
    font-size: 12px;
}

.search-for-videos-assets .search-item .asset-owner-container .likes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* .search-for-videos-assets .search-item .asset-owner-container .likes-container svg path {
    stroke: #000;
    fill: transparent;
} */

@media (max-width: 500px) {
    .search-for-videos-assets {
        padding: 10px 10px 20px;
    }
}